* {
    margin: 2px;
    padding: 1px;
    text-decoration: none;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
}
div{
    display: flex;
    align-self: flex-end;
} 

form{
    display: flex;
    flex-direction: column;
}



